<!-- Generated template for the TodoComponent component -->
<section class="todoapp">
    <header class="header">
      <h1>Todos</h1>
      <ion-list>
        <ion-item>
          <ion-input type="text" class="new-todo" value="" placeholder="What needs to get done?" [(ngModel)]="newTodo.title"></ion-input>
        </ion-item>
      </ion-list>
      <button (click)="addTodo()" ion-button>Add Todo</button>
    </header>
    <section class="main" *ngIf="todos.length > 0">
      <ion-list class="todo-list">
        <button class="destroy" (click)="removeTodo(todo)" ion-item *ngFor="let todo of todos" [class.completed]="todo.complete">
            <ion-label>{{todo.title}}</ion-label>
              <ion-checkbox color="dark" checked="true" (click)="toggleTodoComplete(todo)" [checked]="todo.complete"></ion-checkbox>
        </button>
        <!--need to add a delete button to delete a todo, instead of in the "ion-list"-->
      </ion-list>
    </section>
    <footer class="footer" *ngIf="todos.length > 0">
      <span class="todo-count">
        <strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
    </footer>
  </section>